<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.chdr.example.prj_rev01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/arrow_pointer_right_direction_forward_icon_124689"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".acrescimoActivity"></activity>
        <activity android:name=".CalculoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>